#norlight {
  padding-bottom: 80px;
  .norlight {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      @media (max-width: 450px) {
        flex-direction: column;
        gap: 20px;
        align-items: start;
      }
      &__link {
        width: 220px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 500;
        line-height: 21.86px;
        border: 1px solid #454545;
        color: #454545;
        transition: 0.3s;
        svg {
          font-size: 20px;
          transition: 0.3s;
        }
        &:hover {
          background-color: #f2f2f2;
          svg {
            transform: translate(5px);
          }
        }
      }
    }
    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      color: #454545;
      @media (max-width: 450px) {
        font-size: 33px;
        line-height: 46px;
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @media (max-width: 1100px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 850px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
    &__box {
      padding: 40px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      background-color: transparent;
      transition: 0.3s;
      @media (max-width: 550px) {
        padding: 10px;
      }
      &__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 80px;
        height: 80px;
        background-color: #454545;
        margin-bottom: 80px;
        @media (max-width: 550px) {
          margin-bottom: 20px;
          width: 40px;
          height: 40px;
        }
        img {
          @media (max-width: 550px) {
            width: 20px;
            height: 20px;
          }
        }
      }
      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: #454545;
        margin-bottom: 20px;
        @media (max-width: 550px) {
          font-size: 18px;
          margin-bottom: 10px;
          line-height: 22px;
        }
      }
      &__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        color: #454545;
        @media (max-width: 550px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &:hover {
        box-shadow: 2px 10px 10px #0001;
      }
    }
  }
}
