#norlight {
  padding-bottom: 80px;
  .norlight {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      &__link {
        width: 220px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 500;
        line-height: 21.86px;
        border: 1px solid #454545;
        color: #454545;
        transition: 0.3s;
        svg {
          font-size: 20px;
          transition: 0.3s;
        }
        &:hover {
          background-color: #f2f2f2;
          svg {
            transform: translate(5px);
          }
        }
      }
    }
    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      color: #454545;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    &__box {
      padding: 40px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      background-color: transparent;
      transition: 0.3s;
      &__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 80px;
        height: 80px;
        background-color: #454545;
        margin-bottom: 80px;
      }
      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: #454545;
        margin-bottom: 20px;
      }
      &__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        color: #454545;
      }
      &:hover {
        box-shadow: 2px 10px 10px #0001;
      }
    }
  }
}
