#cart {
  background-color: #fff;
  padding-top: 180px;
  @media (max-width: 550px) {
    padding-top: 120px;
  }
  .cart {
    padding: 100px 10px;
    @media (max-width: 650px) {
      padding: 10px 10px 50px 10px;
    }
    &__header {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 40px;
      box-shadow: 0px 1px 13px 0px #0000000d;
      margin-bottom: 40px;
      @media (max-width: 650px) {
        display: none;
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000;
      }
      h3:nth-child(1) {
        width: 179px;
      }
    }
    &__wrapper {
      margin-bottom: 40px;
    }
    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 1px 13px 0px #0000000d;
      padding: 24px 66px 24px 40px;
      margin-bottom: 40px;
      @media (max-width: 630px) {
        flex-direction: column;
        gap: 24px;
      }
      &__start {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 219px;
        img {
          width: 54px;
          height: 54px;
          object-fit: contain;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #000;
        }
      }
      &__end {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 62%;
        gap: 14px;
        @media (max-width: 630px) {
          width: 100%;
          justify-content: center;
        }
      }
      &__quantity__box {
        display: flex;
        max-width: 72px;
        width: 100%;
        border-radius: 4px;
        border: 1.5px solid #00000066;
        span {
          width: 100%;
          display: block;
          text-align: center;
        }
        button {
          width: 40px;
          color: #33a0ff;
          background: transparent;
        }
        .minus {
          border-radius: 4px 0 0 4px;
        }
        .plus {
          border-radius: 0 4px 4px 0;
        }
      }
      &__price,
      &__total__price {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #262626;
        width: 100px;
        text-align: center;
      }
      &__remove__btn {
        background-color: transparent;
        font-size: 20px;
        color: red;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      @media (max-width: 700px) {
        flex-direction: column;
        gap: 30px;
      }
      &__cupon__box {
        max-width: 527px;
        display: flex;
        gap: 16px;
        align-items: start;
        width: 100%;
        .cupon__input__box {
          max-width: 370px;
          width: 100%;
          display: flex;
          align-items: center;
          height: 60px;
          overflow: hidden;
          border-radius: 4px;
        }
        input {
          height: 100%;
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #000;
          padding: 16px 24px;
          border-radius: 4px 0 0 4px;
          border: 2px solid #f1f3f4;
          outline: none;
          border-width: 2px 0 2px 2px;
        }
        button {
          height: 100%;
          width: 118px;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          background-color: #33a0ff;
          color: #fff;
          padding: 0 21px;
        }
      }
      &__total__box {
        max-width: 374px;
        width: 100%;
        padding: 32px 24px;
        border-radius: 4px;
        .total__box__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 16px;
          margin-bottom: 10px;
          h6 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #000;
          }
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #000;
          }
        }
        .total__box__item:nth-child(4) {
          border: none;
        }
      }
      .procees__checkout__btn {
        width: 100%;
        height: 60px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #fff;
        background-color: #33a0ff;
        border-radius: 4px;
      }
    }
  }
}
